# JavaScript scripts and selects
src/assets/scripts/function.js
src/assets/scripts/main.js
src/assets/scripts/snippets.js
src/assets/scripts/script.js
src/assets/addons/selects/active-line.js

# HTML files
src/about.html

# Node.js
node_modules

# JSON
package-lock.json

# Docs
docs

# Live Preview
src/index.php